body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(189, 145, 65);
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

ul li {

    margin: 3.76rem 0rem;
    list-style: none;
}

li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 1rem;
    border: 0.2rem solid;
    border-radius: 1rem;
}

li a:hover {
    background-color: rgb(189, 145, 65);
    color: white;
}


.header {
    position: absolute;
    background-color: rgb(77, 16, 16);
    height: 100%;
    width: 12rem;
    transition: transform 4ms;

}



.img {
    position: relative;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    top: 0.4rem;
    left: 0.5rem;
    border: 2px solid rgb(189, 145, 65);
    border-radius: 0.3rem;
}

#cross {
    position: absolute;
    left: 9rem;
    top: 1.rem;

}

/* Main */
.main {
    /* background-color: rebeccapurple; */
    height: 39rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    /* width: 80vw;
    height: 100vh; */
}

.info {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    color: black;
}

#hamza {
    text-align: center;
    height: 8rem;
    width: 8rem;
    border-radius: 59px;
    border: 2px dotted white;
}

button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: black;
    background-color: white;
    font-size: 1rem;
    border: 0.2rem solid rgb(77, 16, 16);
    border-radius: 1rem;
}

button a {
    text-decoration: none;
}

button:hover {
    background-color: rgb(189, 145, 65);
    color: white;

}

button a:hover {
    color: white;
}

.header {
    grid-area: header;
    transition: transform 0.3s ease-in  ;
}
.headergo {
    /* transition: all 3ms; */
    /* display: none; */
    transform: translate(-200px, 0px);
    position: absolute;
}
.main {
    grid-area: main;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header main main main'
        'header main main main'
        'header main main main'
    ;
}